$primary-color : #d2fedd;
$primary-color-dark : #15be9d;
$primary-color-hover : #0fa184;
$primary-color-dark2: #035c4a;
$white : #ffffff;
$white-primary: #fafafa;
$secondary-color : #040a24;
$tertiary-color:rgb(121, 116, 116);
$scrollbar-color : #8BB8A8;
$spinner-color:#9df0df;
$primary-color3 : #07836a;
