.section2 {
  padding: 1rem;
  background-color: $white;
  cursor: pointer;
  height: 100vh;

  .items {
    margin: 2rem auto;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    width: 90%;


    button {
      padding: 0.2rem;
      align-self: center;
      justify-self: center;
      display: grid;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: $primary-color-hover;
      color: $white;
      margin:0.5rem;
      padding: 0.8rem;
      border-radius: 0.6rem;
  }

    .range-list {
      display: inline;
      margin: 0 auto;
      button {
        display: inline;
        margin:0.2rem;
      }
      .active-range-time {
        background-color: $primary-color3;
      }
    }

    .dropdown {
      position: relative;
      align-items: center;
      top: 0;
      justify-content: center;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      width: 35% !important;
      font-size: 1.1rem;
      span {
        text-align: center;
        display: inline;
        margin: 0 1rem;
        font-size: 1.1rem;
      }

      .dropbtn {
        width: 105%;
        font-size: 1rem;
        top: 0;
        left: 0%;
        padding: 0.2rem;

        &:after {
          left: 80%;
        }
      }

      .dropdown-content {
        position: absolute;
        display: none;
        max-height: 20rem !important;
        overflow-y: scroll;
        overflow-x: hidden;

        .dropdown-content-item {
          width: auto;
        }
      }
    }

    .currencies-list {
      // width: 110% !important;
      max-height: 10rem !important;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  #chart {
      width:100% !important;
      height:40rem !important;
  }

  .selected-button {
    background-color: $primary-color3 !important;
  }

  .candleChart {
    position: absolute;
    width:100%;
    top:0;
    left:0;
  }


  .chartContainer {
    position: relative;
  }

  .hidden {
    display:none;
    visibility: 0;
    transition: all ease 0.5s;
  }

}
